table {
    width: 100px;
    border-collapse: collapse;
  }
  
th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  border-left:  1px solid #ddd;
  border-right:  1px solid #ddd;
}
  
thead {
  background-color: #383838;
  color: rgb(255, 255, 255);
  font-size: 14pt;
  font-weight: 10;
}
#bigBox {
  display: flex;
  flex-wrap: wrap;

}
.component {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
  border: solid 2px #000;
  box-shadow: 0px 8px 0 0 rgba(255, 255, 255, 0.21);
  max-width: 50%;
  text-align: center;
}
.componentHeader {
  font-size: 26px;
  color: rgb(255, 255, 255);
  background-color: #000;
  padding-top: 3px;
  padding-bottom: 5px;
  height: 25px;
}
#championAppearanceBox {
  width: 250px;
  text-align: center;
}
#augmentStatsSite{
  width: 150px;
  max-height: 20px;
  padding: 5px;
}
#tomeBox{
  width: 150px;
  max-height: 20px;
  padding: 5px;
}
.filterPopup {
  position: absolute;
  top: 30px; /* Adjust this value to set the distance from the top */
  right: 10px; /* Adjust this value to set the distance from the right */
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  max-height: 150px; /* Adjust this value to set the maximum height of the popup */
  overflow-y: auto;
}

.filterPopup label {
  display: block;
  margin-bottom: 5px;
}

