table {
    width: 100px;
    border-collapse: collapse;
  }
  
th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  border-left:  1px solid #ddd;
  border-right:  1px solid #ddd;
}
  
thead {
  background-color: #383838;
  color: rgb(255, 255, 255);
  font-size: 14pt;
  font-weight: 10;
}
#bigBox {
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
  margin: auto;
}
.component {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  border: solid 2px #000;
  box-shadow: 0px 8px 0 0 rgba(255, 255, 255, 0.21);
  max-width: 500px;
  text-align: center;
  margin: 0 auto;
  margin-top: 25px;
}
.componentHeader {
  font-size: 28px;
  color: #f5f5f5;
  width: 100%;
  background-color: #000;
  margin-bottom: 5px;
}
#championAppearanceBox {
  width: 250px;
  text-align: center;
}
#augmentStatsSite{
  width: 150px;
}
.filterPopup {
  position: absolute;
  top: 30px; /* Adjust this value to set the distance from the top */
  right: 10px; /* Adjust this value to set the distance from the right */
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  max-height: 150px; /* Adjust this value to set the maximum height of the popup */
  overflow-y: auto;
}
.filterPopup label {
  display: block;
  margin-bottom: 5px;
}
#topBox {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-self: center;
  border: solid 2px #000;
  width: 350px;
  margin: 0 auto;
  color: #f5f5f5;
  background-color: #000;
}
#viewToggle {
  text-align: left;
  border: solid 2px #000;
  width: 350px;
  margin: 0 auto;
}
#LeDuck {
  display: inline;
  max-width: 265px;
  max-height: 155px;
}
.scrollable {
  width: 320px;
  border-collapse: collapse;
  overflow: auto;
  max-height: 230px;
}
#emblemStats {
  max-height: 280px;
  width: 235px;
}
#tomeBox {
  width: 200px;
}

